<?xml version="1.0" encoding="utf-8"?>
	<!--
		* Copyright (C) 2007-2009 sibyl project 
		* http://code.google.com/p/sibyl/ 
		* 
		* Licensed under the Apache License, Version 2.0 (the "License"); 
		* you may not use this file except in compliance with the License. 
		* You may obtain a copy of the License at
		* 
		*         http://www.apache.org/licenses/LICENSE-2.0 
		* 
		* Unless required by applicable law or agreed to in writing, software 
		* distributed under the License is distributed on an "AS IS" BASIS, 
		* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. 
		* See the License for the specific language governing permissions and 
		* limitations under the License.
	-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.sibyl" android:versionCode="1" android:versionName="1.0">
	<application android:icon="@drawable/logo" android:label="@string/app_name">
		<activity android:multiprocess="false" android:name=".ui.PlayerUI">
			<!--
				android:theme="@android:style/Theme.Dark"
			-->
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>

		<service android:enabled="true" android:exported="false"
			android:icon="@drawable/play" android:label="Sibyl service"
			android:name=".Sibylservice">
		</service>

		<activity android:name=".ui.PlayListUI" android:label="@string/app_name">
		</activity>

		<activity android:name=".ui.AddUI" android:label="@string/app_name">
		</activity>

		<activity android:name=".ui.ConfigUI" android:label="@string/app_name">
		</activity>

		<activity android:name=".ui.AddDirUI">
		</activity>

		<activity android:name=".ui.DelDirUI" android:label="@string/app_name">
		</activity>

		<activity android:name=".ui.CoverUI" android:label="@string/app_name">
		</activity>

		<activity android:name=".ui.AlbumUI">
		</activity>
	</application>
	<uses-sdk android:minSdkVersion="3" />
</manifest> 