<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sibyl">
    <application android:icon="@drawable/icon">
        <service class=".Sibylservice" android:process=":remote" />

        <activity class=".SibylUI" android:label="SibylUI">
            <intent-filter>
                <action android:value="android.intent.action.MAIN" />
                <category android:value="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
         
        <activity class=".Test" android:label="@string/app_name">
        
        </activity>
    </application>
</manifest> 