<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sibyl">
    <application android:icon="@drawable/logo" android:label="Sibyl">
        <service android:name=".Sibylservice" android:process=":remote" />

        <activity android:theme="@android:style/Theme.Dark" android:multiprocess="false" android:name=".ui.PlayerUI">
        </activity>
         
        <activity android:name=".Test" android:label="@string/app_name">
        </activity>

        <activity android:name=".ui.PlayListUI" android:label="@string/app_name">
        </activity>

        <activity android:name=".ui.AddUI" android:label="@string/app_name">
        </activity>

        <activity android:name=".ui.ConfigUI" android:label="@string/app_name">
        </activity>

        <activity android:name=".ui.AddDirUI">
        </activity>

        <activity android:name=".ui.DelDirUI" android:label="@string/app_name">
        </activity>
        
    </application>
</manifest> 